*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C9D8D5;
}
.card{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-sizing: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.header{
    background-color: black;
    color: white;
    padding: 20px;
}
.header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 20px;
}
.content{
    padding: 20px;
}
.content h2{
    color: #16A784;
}
.button{
    background-color: #3E70E4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
